@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	outline: none;
}

iframe {
	max-width: 100%;
	float: left;
}

a, *:hover {
	text-decoration: none;
	-webkit-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-o-transition: all.6s ease;
	-ms-transition: all.6s ease;
	transition: all.6s ease;
}

body {
	background-color: #dad6cb;
	width: 100%;
	height: 100%;
	float: left;
}



/*шапка*/

header {
	width: 98%;
	float: left;
	padding: 1%;
	background-color: #46433e;
}
header span#other {
	float: right;
	width: 40%;
	margin-top: 20px;
	margin-right: 10%;
}
header div#logo {
	float: left;
	margin-left: 10%;
}


@media (min-width: 1000px) {
	
	header span#other a {
		color: white;
		float: right;
		margin-left: 10%;
		font-size: 1.3em;
		line-height: 30px;
	}
	#List {
		width: 66%;
		margin-top: 20px;
		margin-bottom: 30px;
		margin-left: 17%;
		float: left;
	}
	breeds p {
		font-size: 1.3em;
		color: #3d3d3d;
		width: 100%;
		float: left;
		text-decoration: underline;
		line-height: 1.5;
		margin-top: 20px;
		text-align: justify;
	}
}

@media (min-width: 700px) and (max-width: 999px) {
	
	header span#other a {
		color: white;
		float: right;
		margin-left: 10%;
		font-size: 1.3em;
		line-height: 50px;
	}
	#List {
		width: 90%;
		margin-top: 20px;
		margin-bottom: 30px;
		margin-left: 5%;
		float: left;
	}
	breeds p {
		font-size: 1.3em;
		color: #3d3d3d;
		width: 100%;
		float: left;
		text-decoration: underline;
		line-height: 1.5;
		margin-top: 20px;
		margin-right: 20px;
		text-align: center;
	}
}

@media (max-width: 699px) {
	
	header span#other a {
		color: white;
		float: right;
		margin-left: 10%;
		font-size: 1.3em;
		line-height: 50px;
	}
	#List {
		width: 100%;
		margin-top: 20px;
		margin-bottom: 30px;
		float: left;
	}
	breeds p {
		font-size: 1.3em;
		color: #3d3d3d;
		width: 100%;
		float: left;
		text-decoration: underline;
		line-height: 1.5;
		margin-top: 20px;
		text-align: center;
	}
}



breeds {
	width: 100%;
	float: left;
}

breeds img {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
}

breeds a {
	float: right
}
breeds a2 {
	float: left;
	margin-right: 5%;
}





breeds h1 {
	font-size: 1.6em;
	color: #3d3d3d;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
	text-align: center;
	text-decoration: underline;
}
breeds h2 {
	font-size: 1.4em;
	color: #3d3d3d;
	width: 100%;
	margin-top: 2%;
	margin-bottom: 1%;
	float: left;
	text-align: left;
	text-decoration: underline;
}

breeds p1 {
	font-size: 1.3em;
	color: #3d3d3d;
	width: 100%;
	float: left;
	line-height: 1.5;
	margin-top: 2%;
	text-align: justify;
	text-decoration: underline;
}